* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
  
  
.nav-bar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1% 15%;
    font-size: 100%;
}

a:hover {
    opacity: 0.5;
    
}

.container {
    height: 100vh;
}

.container img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -30%);
    opacity: 0.8;
}

.content {
    width: 100%;
    background: rgb(24, 24, 24);
    min-height: 100vh;
    position: absolute;
    z-index: 2;

}

.content-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    text-align: center;
   
}

.text {
    padding: 2rem 20rem;
    font-size: 1.1rem;
}